<div fxLayout="row">

    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <mat-card-title>LISTE DES UTILISATEURS</mat-card-title><br>
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="ajouter()">
                <mat-icon>person_add</mat-icon>
            </button>
            <br>
            <br>
            <div class="mat-elevation-z8"> 
                <mat-table [dataSource]='dataSource' matSort>
                <ng-container matColumnDef="id"> 
                    <mat-header-cell *matHeaderCellDef mat-sort-header> <b> ID </b> </mat-header-cell>
                    <mat-cell *matCellDef="let utilisateur" >{{utilisateur.id}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nom" > 
                    <mat-header-cell *matHeaderCellDef mat-sort-header> <b> Nom </b> </mat-header-cell>
                    <mat-cell *matCellDef="let utilisateur" >{{utilisateur.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="nomutilisateur"> 
                    <mat-header-cell *matHeaderCellDef> <b> Nom d'utilisateur </b></mat-header-cell>
                    <mat-cell *matCellDef="let utilisateur" >{{utilisateur.username}} </mat-cell>
                </ng-container>
         
        
                <mat-header-row *matHeaderRowDef= "displayedColumns" > </mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                </mat-table>  
                <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons> </mat-paginator> 
                </div>

        </mat-card-content>
    </mat-card>
</div>
</div>
            
