<div fxLayout="row">

    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Mes demandes</mat-card-title><br>

            <div style="justify-content: space-between;">
                <mat-form-field class="search-form-field" floatLabel="never" style="width: 20%;">
                    <input matInput [(ngModel)]= "searchKey" placeholder="Recherche" autocomplete="off" (keyup)="applyFilter()">
                    <button mat-button matSuffix mat-icon-button aria-label="clear" 
                    *ngIf="searchKey" (click)= "onSearchClear()">
                        <mat-icon> close</mat-icon>
                    </button>
                </mat-form-field>
                
            </div>
            
                


    <div class="mat-elevation-z8"> 
        <mat-table [dataSource]='dataSource' matSort>
        <ng-container matColumnDef="intitule"> 
            <mat-header-cell *matHeaderCellDef mat-sort-header> <b> intitule </b> </mat-header-cell>
            <mat-cell *matCellDef="let demande" [ngClass]="{'approved': demande.accorde=='accordée', 'notApproved' : demande.accorde=='refusée'}">{{demande.intitule}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="montant" > 
            <mat-header-cell *matHeaderCellDef mat-sort-header> <b> montant </b> </mat-header-cell>
            <mat-cell *matCellDef="let demande" [ngClass]="{'approved': demande.accorde=='accordée', 'notApproved' : demande.accorde=='refusée'}">{{demande.montant}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="intituleNoteFrais"> 
            <mat-header-cell *matHeaderCellDef mat-sort-header> <b> intitule note frais </b></mat-header-cell>
            <mat-cell *matCellDef="let demande" [ngClass]="{'approved': demande.accorde=='accordée', 'notApproved' : demande.accorde=='refusée'}">{{demande.intituleNoteFrais}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accorde"> 
            <mat-header-cell *matHeaderCellDef mat-sort-header> <b> statut </b></mat-header-cell>
            <mat-cell *matCellDef="let demande" [ngClass]="{'approved': demande.accorde=='accordée', 'notApproved' : demande.accorde=='refusée'}">{{demande.accorde}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions" > 
            <mat-header-cell *matHeaderCellDef> <b> Actions </b></mat-header-cell>
            <mat-cell *matCellDef="let demande" [ngClass]="{'approved': demande.accorde=='accordée', 'notApproved' : demande.accorde=='refusée'}"> 
                <button mat-icon-button color="warn">
                    <mat-icon (click)="delete(demande)" aria-label="delete button icon">delete</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon (click)="update(demande)" aria-label="update button icon">update</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef= "displayedColumns" > </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
        </mat-table>  
        <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons> </mat-paginator> 
        </div>
    

            </mat-card-content>
        </mat-card>
    </div>
</div>