<!DOCTYPE html>
<html>

<body>
	<div>
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">

				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../../assets/images/login.png" class="brand_logo">
					</div>
				</div>

				<div class="d-flex justify-content-center form_container">

					<form [formGroup]="form" (ngSubmit)="onSubmit();">
						<div fxLayout="row wrap">

							<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
								<mat-form-field>
									<button mat-icon-button matSuffix >
									<mat-icon>person_pin</mat-icon>
									</button>
									<input matInput placeholder="nom utilisateur" [formControl]="form.controls['uname']">
								</mat-form-field>
								<small
									*ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched"
									class="text-danger support-text">Login de session obligatoire.
								</small>
							</div>

							<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
								<mat-form-field>
									<button mat-icon-button matSuffix (click)="hide = !hide"
									[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
									<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</button>
									<input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="Mot de passe"
										[formControl]="form.controls['password']">
								</mat-form-field>
								<small
									*ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
									class="text-danger support-text">Mot de passe obligatoire.</small>
									<small *ngIf="!canAcess" class="text-danger support-text">Mot de passe ou Login
										incorrect.</small>
							</div>
<br><br><br>
							<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
								<button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20"
									type="submit" [disabled]="!form.valid">Connexion</button>
							</div>

						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>

</html>