<div>
    <span style="color: lightblue; font-weight: bold;">Information de la demande</span>
    <div class="content-container">
      <mat-icon  id="close-icon" (click)="closeDialog()" >close</mat-icon>
      <br>
      <span class="label">nom : </span>  <span class="content-span full-width">{{this.data[0]}}</span><br>
      <span class="label">prenom : </span>  <span class="content-span full-width">{{this.data[1]}}</span><br>
      <span class="label">intitule projet : </span>  <span class="content-span full-width">{{this.data[2]}}</span><br>
      <span class="label">budget projet : </span>  <span class="content-span full-width">{{this.data[3]}}</span><br>
      
    </div>
    
</div>
        